$font-stack: "Inter", Arial, sans-serif;

$primary-color: orange;
$primary-shadow: darkorange;

$primary-text-color: #111;
$secondary-text-color: #fff;
$tertiary-text-color: #aaa;

$mobile-breakpoint: 768px;

$max-breakpoint: 1680px;
