header {
  margin-left: 10vw;
  background-color: $primary-color;

  @media only screen and (max-width: $mobile-breakpoint) {
    margin: 0;
  }

  p {
    font-size: 1.2em;
    line-height: 150%;

    @media only screen and (max-width: $mobile-breakpoint) {
      line-height: 1.3em;
    }
  }

  hr {
    background-color: $secondary-text-color;
    color: $secondary-text-color;
  }

  .flex {
    align-items: center;
  }

  .splash {
    padding: 10vh 0;
    min-height: 80vh;

    @media only screen and (max-width: $mobile-breakpoint) {
      height: auto;
      padding-bottom: 0;
    }

    div {
      position: relative;
      flex-basis: 60%;

      @media only screen and (max-width: $mobile-breakpoint) {
        flex-basis: 100%;
      }

      #hello {
        position: absolute;
        max-width: 33%;
        top: -5%;
        left: 95%;

        @media only screen and (max-width: $mobile-breakpoint) {
          top: 100%;
          left: 75%;
        }
      }

      &:nth-child(2) {
        flex-basis: 40%;
        text-align: right;

        @media only screen and (max-width: $mobile-breakpoint) {
          flex-basis: 100%;
          padding-top: 5%;
          bottom: 0;
          text-align: center;
        }
      }
    }
  }
}
